<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Bob Ross, Jr.</title>
</head>
<body>
	<h1>Hello</h1>
 	{% lorem 3 %}

<!-- TODO: -->
<!-- -- Make the button in main.js make an http request to "/birthdays" -->
<!-- -- When birthday data comes back from the server, console log it -->
<!-- -- In your django app, create the following -->

	<button id="js-clicker">Click Me!</button>

	<script src="{% static 'js/main.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>
</html>

